.left .right{
  display: inline-block;
  width: 450px
}
.word_form{
  display: block;
  margin: 20px
}
.blue{
  color: blue
}
.green{
  color: green
}
.red{
  color:red
}
.regular_test{
  font-size: 14px;
  color:black
}
