<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Ninja Turtles</title>
  </head>
  <body>
    <img src="{{url_for('static', filename='images/tmnt.png')}}" alt="Teeenage Mutant Turtles">
    <!--Not sure if we were supposed to show the one image with all the Turtles or each individual picture
    on the same page. Like below.  -->
            <!-- <img src="{{url_for('static', filename='images/donatello.jpg')}}" alt="donatello">
            <img src="{{url_for('static', filename='images/leonardo.jpg')}}" alt="leonardo">
            <img src="{{url_for('static', filename='images/michelangelo.jpg')}}" alt="michelangelo">
            <img src="{{url_for('static', filename='images/raphael.jpg')}}" alt="raphael"> -->
  </body>
</html>
